@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

body {
  margin: 0;
  padding: 0;
  background: rgb(29, 24, 108);
  background: linear-gradient(
    30deg,
    rgba(29, 24, 108, 1) 0%,
    rgba(30, 30, 228, 1) 38%,
    rgba(17, 204, 242, 1) 100%
  );
  height: 100vh;
  width: 100vw;
}

main,
.empty {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  width: 18.5rem;
  max-width: 25rem;
  padding: 12px;
  background-color: white;
  border-radius: 17px;
  background: #ebebeb;
  box-shadow: 18px -32px 64px rgba(17, 204, 242, 1),
    18px 32px 64px rgba(29, 24, 108, 1);
}

.empty {
  height: 14rem;
  width: 75%;
  max-width: 25rem;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  height: auto;
  width: 100%;
  overflow-y: scroll;
}

.saveIco {
  position: absolute;
  top: 10px;
  right: 16px;
  color: #434343;
  opacity: 0.9;
}

#joke {
  width: 80%;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Tilt Neon", cursive;
  padding: 1rem;
}

#delivery {
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.9;
  margin-top: 12px;
}

.quoteOpen {
  position: relative;
  bottom: 6px;
  display: inline-block;
}

.quoteClose {
  position: relative;
  bottom: 6px;
  display: inline-block;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

button {
  cursor: pointer;
}

.getJokeBtn {
  position: absolute;
  bottom: -5rem;
  margin: 0 25%;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  color: white;
  border-radius: 8px;
  background-color: #00a4ff;
  box-shadow: -4px 4px 24px #08b2dd; /*#0c3bc7;*/
}

.collectionBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  color: white;
  border-radius: 8px;
  background-color: #1642d0;
  box-shadow: 4px -4px 24px #0c3bc7;
}

#saved {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backBtn {
  position: fixed;
  top: 16px;
  left: 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  height: 3rem;
  width: 3rem;
  font-size: 30px;
  margin: 10px;
  border: none;
  font-weight: 600;
  padding: 12px 16px;
  color: white;
  border-radius: 8px;
  background-color: #1642d0;
  box-shadow: 4px -4px 24px #0c3bc7;
}

.savedContent {
  height: 100%;
  width: 100%;
  background-color: transparent;
  overflow-y: auto;
}

.savedContent .svdContainer {
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.savedContent .Joke {
  display: flex;
  justify-content: space-around;
  height: 20rem;
  width: 90%;
  max-width: 18rem;
  padding: 6px;
  margin: 1rem;
  background-color: white;
  border-radius: 17px;
  background: #e0e0e0;
}
